<main class="px-32 py-16 bg-orange-300" id="about">
    <div class="font-mono text-4xl text-center font-extrabold"> About Me</div>
    
    <div class="flex" id="home">
        <div class="me-auto"><img src="https://cdn-icons-png.flaticon.com/512/5871/5871531.png" class="h-96" alt="" srcset=""></div>
        <div class="my-auto">
            <div class="text-xl w-[600px]">Aspiring full-stack developer. Developed various projects. Loves developing solutions and participating in problem solving discussions. Currently woring in UST GLOBAL.</div>
        </div>
    </div>
</main>
