<!-- <div id="home"></div>
<app-header></app-header>
<app-home></app-home>
<app-about></app-about>
<app-skills></app-skills>
<div class="bg-blue-300 border-solid p-2 px-32 space-y-2 w-screen">
  <div class="text-3xl">Product Data</div>
  <p>ProductId : {{prodId}}</p>
  <p>Product Details : {{desc}}</p>
  <p>Product is {{avl ? "Available" : "out Of Stock"}}</p>
  <p>Quantity : {{qty}}</p>
  <div class="text-3xl">{{orderqty>qty ? "Quantity Not Available" : "Quantity Available"}}</div>
  <p>Delivery : <span [class] ="deliveryColor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
  <div *ngFor="let item of list">
    {{item.rasen}}
  </div>
  {{orderDate | date : "dd/MM/yyyy"}}
  <div *ngIf="qty>=orderqty;else notAval">Available</div>
  <ng-template #notAval>Not Available</ng-template>
  <input type="number" [(ngModel)]="orderqty" #inputqty/>
  <div [innerHTML]="orderqty"></div>
  <button class="bg-amber-500 rounded-md p-2 px-5" name="placeholder" (click)="printOrder(inputqty.value)">Hello</button>
  <div>
    <div [ngSwitch]="orderqty">
      <div *ngSwitchCase="201">quantity not Available</div>
      <div *ngSwitchCase="200">quantity Available</div>
      <div *ngSwitchDefault>output2</div>
    </div>
  </div>
</div>
<app-data></app-data>
<app-reactive></app-reactive>

<app-formbuilder></app-formbuilder>
<app-create></app-create>
<app-retrive></app-retrive>
<app-delete></app-delete>
<app-update></app-update>
<app-token></app-token> -->
<h1>Hello, myapp</h1>
none :<input type="text"><br>
data 2 : <input type="text" placeholder="data2" [(ngModel)]="data2"><br>
data : <input type="text" [(ngModel)]="data"><br>
<app-hooks [data]="data">Hello 1 2 3 4 5 {{data2}}</app-hooks>
<!-- ----------------------------------------------------------------------------------- -->
<router-outlet />
