<main class="bg-slate-300 px-32 flex pb-8 pt-20" id="home">
    <div class="me-auto my-auto">
        <div class="text-3xl "> Hello I am <span class="text-6xl font-serif text-rose-700">D V Bharath Kamal</span></div>
        <div class="text-4xl text-emerald-500">Full Stack Developer</div>
        <div class="text-3xl"><span class="text-cyan-400 text-5xl">UST</span>, Trivendrum</div>
    </div>
    <div class=""><img src="https://cdn-icons-png.flaticon.com/512/11918/11918394.png" class="h-96" alt="" srcset=""></div>
</main>